* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: rgb(75, 69, 79);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.Box {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}
/* .input-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: black;
  width: 100%;
  height: 40px;
}
input[type="text"] {
  flex: 1;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  background-color: black;
  margin-left: 10px;
  color: white;
  font-size: 18px;
  border-radius: 20px;
} */

:-ms-input-placeholder{
    color: white;
}
::-webkit-input-placeholder{
    color: white;
}
.input-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background-color: black;
    width: 100%;
    height: 40px;
  }
  
  input[type="text"] {
    flex: 1;
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    background-color: black;
    margin-left: 10px;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
  }
  
  
#addTaskButton {
  cursor: pointer;
  background-color: #fe8d7e;
  border: none;
  padding: 8px;
  border-radius: 20px;
  margin-right: 1rem;
  color: white;
}

#addTaskButton i {
  font-size: 15px;
}
.wh {
  height: 35vh;
  overflow: auto;
}
.completed-container {
  height: 35vh;
  overflow: auto;
}
h1 {
  font-size: 20px;
  color: black;
  border-bottom: 1px solid black;
  font-weight: 500;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #0e0c0c;
  color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
}
input.check {
  font-size: 24px;
  color: #4caf50;
  margin-right: 10px;
  cursor: pointer;
  margin-left: 10px;
}

li i.fas.fa-trash {
  font-size: 20px;
  color: #f44336;
  cursor: pointer;
  float: right;
}
li.completedList {
  text-decoration: line-through;
  color: #1a1818;
}

@media screen and (min-width: 800px) {
    .Box {
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 20px;
      margin: 20px;
      width: 45vw;
      height: 90vh;
    }
  }
  
  @media screen and (max-width:580px){
    .Box {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        width: 100vw;
        height: 80vh;
      }
  }

  @media screen and (max-width:780px){
    .Box {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
        width: 100vw;
        height: 80vh;
      }
  }